:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

/* body {} */
.infoText {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
  line-height: 1.1;
  color: white;
}

h2 {
  font-size: 30px;
  color: #ffffff6b;
}

p {
  font-size: 20px;
  color: whitesmoke;
  line-height: 30px;
}

span {
  color: wheat;
  text-decoration: underline;
}

textarea {
  width: 50%;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: center;
  background-color: black;
  color: white;
}

textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 18px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card-section {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.card-container {
  border: 1px solid wheat;
  width: 350px;
  border-radius: 20px;
  text-align: center;
  background: #093028;
  background: -webkit-linear-gradient(to right, #237A57, #093028);
  background: linear-gradient(to right, #237A57, #093028);
}

.card-container h3 {
  color: yellow;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 720px) {
  .card-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}